In [5]:
#Spark Dataframe Basic

In [2]:
import findspark

In [3]:
findspark.init("/home/admin123/spark-2.4.0-bin-hadoop2.7")

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [12]:
df = spark.read.json('people.json')

In [13]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [14]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [16]:
df.columns

['age', 'name']

In [23]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [24]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [25]:
final_struc = StructType(fields = data_schema)

In [27]:
df = spark.read.json('people.json', schema=final_struc)

In [28]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [30]:
 df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
type(df['name'])

pyspark.sql.column.Column

In [35]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [39]:
df.head(2)[1]

Row(age=30, name='Andy')

In [40]:
type(df.head(2)[1])

pyspark.sql.types.Row

In [41]:
 df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [46]:
 df.withColumn('double_age', df['age']* 2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [47]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [49]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [50]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [52]:
df.createOrReplaceTempView('people')
new_results = spark.sql("SELECT * From people")

In [53]:
new_results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [54]:
new_results  = spark.sql("SELECT * From people WHERE age = 30")

In [55]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+